# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/.venv/
/.mypy_cache/
/secrets.yaml
screenshot.ppm
screenshot.jpg
components/screenshot/__pycache__/
screenshot.png
config/components/screenshot/__pycache__
config/.venv/
config/.venv
config/.mypy_cache/
config/boot.log
config/sd_mount.log
config/backup/
config/components/sd_spi_card/__pycache__/__init__.cpython-311.pyc
config/components/sd_file_server/__pycache__/__init__.cpython-311.pyc
config/components/sd_mmc_card/__pycache__/__init__.cpython-311.pyc
config/components/sd_file_server/__pycache__/__init__.cpython-313.pyc
config/components/sd_mmc_card/__pycache__/__init__.cpython-313.pyc
config/components/mipi_dsi/__pycache__/__init__.cpython-311.pyc
config/components/mipi_dsi/__pycache__/display.cpython-311.pyc
config/components/mipi_dsi/models/__pycache__/__init__.cpython-311.pyc
config/components/mipi_dsi/models/__pycache__/guition.cpython-311.pyc
config/components/mipi_dsi/models/__pycache__/m5stack.cpython-311.pyc
config/components/mipi_dsi/models/__pycache__/waveshare.cpython-311.pyc
config/components/lvgl_camera_display/__pycache__/__init__.cpython-311.pyc
config/components/tab5_camera/__pycache__/__init__.cpython-311.pyc
.gitignore
log
a.log
